@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background-image: url(images/patt.png);
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.row::after,
.menu::after {
  content: "";
  display: block;
  clear: both;
}

.row {
  margin-left: -15px;
  margin-right: -15px;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.33333%;
}

.col-6 {
  width: 50%;
}

.col-8 {
  width: 66.66667%;
}

.col-12 {
  width: 100%;
}

.col-9 {
  width: 75%;
}

.form-search-header>input {
  padding-left: 20px;
  padding-top: 5px;
  width: 200px;
  height: 40px;
  margin: 5px 0;
  background-color: #c9daed;
  border: 1px solid #2c71b8;
}

.form-search-header>input::placeholder {
  text-decoration: none;
  color: #2c71b8;
  font-size: 21px;
  font-family: "roboto";
}

.form-search-header button {
  position: relative;
  background-color: #2c71b8;
  background-image: url(images/icon-search.png);
  background-repeat: no-repeat;
  background-position: center;
  width: 30px;
  height: 30px;
  left: 165px;
  top: -40px;
  border: none;
}

.form-search-header {
  width: 200px;
  height: 40px;
}

.basket-header {
  position: relative;
  background-color: white;
  background-image: url(images/cart-blue.png);
  background-repeat: no-repeat;
  background-position: center;
  width: 40px;
  height: 40px;
  margin-top: 5px;
  margin-left: 5px;
}

.product-count {
  background-color: #2c71b8;
  color: white;
  border-radius: 10px;
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  position: absolute;
  top: -25%;
  left: -25%;
}

[class*="col-"] {
  float: left;
  padding-left: 15px;
  padding-right: 15px;
}

.header {
  background-color: rgba(255, 255, 255, 0.75);
  padding: 25px 0;
  height: 100px;
}

.logo {
  margin-top: 7px;
}

.menu>li {
  float: left;
  width: 25%;
  border-left: 1px solid #2c71b8;
}

.menu li:last-child {
  border-right: 1px solid #2c71b8;
}

.submenu {
  position: absolute;
  width: 285px;
  z-index: 10;
  visibility: hidden;
  opacity: 0;
}

.submenu li {
  float: none;
  position: relative;
  display: block;
  background-color: #2c71b8;
  right: 1px;

}

li:hover>.submenu,
li:hover>.submenu-sort {
  visibility: visible;
  opacity: 1;
}

.menu a {
  display: block;
  height: 50px;
  text-decoration: none;
  color: #2c71b8;
  font-size: 21px;
  text-align: center;
  line-height: 50px;
  font-family: 'Roboto';
  font-weight: light;
}

.submenu a {
  text-align: left;
  margin-left: 30px;
}

li:hover a,
.menu a:hover {
  background-color: #2c71b8;
  color: white;
}

.submenu li:hover,
.submenu li:hover a {
  color: #2c71b8;
  background-color: white;
}

li:hover .arrow {
  background-image: url(images/down-arrow-white.png);
}

.arrow {
  background-image: url(images/down_arrow_blue.png);
  background-size: 15px;
  background-repeat: no-repeat;
  background-position: center;
  height: 10px;
  display: inline-block;
  width: 20px;
  position: absolute;
  top: 47px;
}

.slider {
  display: block;
  width: 100%;
  height: 400px;
  background-color: black;
  opacity: 25%;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
}

.left-filter legend {
  font-weight: 600;
  text-transform: uppercase;
}

input[type="checkbox"] {
  display: none;
}

input[type="checkbox"]:checked+label::before {
  background-color: white;
}

label::before {
  content: "";
  display: inline-block;
  width: 10px;
  height: 10px;
  cursor: pointer;
  border: 2px solid white;
  margin: 30px 10px 0 0;
}

.left-filter {
  padding-top: 32px;
  padding-left: 28px;
  padding-bottom: 30px;
  font-weight: light;
  font-size: 21px;
  font-family: "Roboto";
  color: white;
}

.left-filter-bg {
  background-color: rgba(255, 255, 255, 0.2);
}

.left-filter-type {
  margin-bottom: 65px;
}

.left-filter-options-link {
  display: block;
  color: white;
  margin-top: 35px;
  margin-bottom: 30px;
  text-decoration: none;
}

.left-filter button {
  background-color: #2c71b8;
  text-decoration: none;
  border: 1px solid white;
  width: 210px;
  height: 50px;
  outline: none;
  line-height: 50px;
}

.left-filter button:hover {
  background-color: #fff;
  cursor: pointer;
  border: 1px solid #20558B;
}

.left-filter button:hover span {
  color: #20558B;
}

.left-filter button>span {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 21px;
  color: white;
}

.breadcrumbs a {
  display: inline-block;
  text-decoration: none;
  font-size: 14px;
  color: white;
  font-family: "Roboto";
  font-weight: lighter;
  opacity: 0.5;
  margin: 30px 0;
}

.breadcrumbs a:hover span {
  text-decoration: underline;
}

.main-header {
  font-family: "Roboto";
  font-weight: bold;
  font-size: 48px;
  color: white;
  margin-bottom: 30px;
}

input[name="sort"] {
  display: none;

}

.menu-sort a {
  background-color: #2c71b8;
  display: block;
  height: 50px;
  text-decoration: none;
  color: #fff;
  font-size: 21px;
  text-align: left;
  line-height: 50px;
  font-family: 'Roboto';
  font-weight: light;
  border: 1px solid white;
  padding-left: 20px;
}

.submenu-sort {
  position: absolute;
  width: 270px;
  visibility: hidden;
  opacity: 0;
}

.submenu-sort a {
  border-top: none;
}

.submenu-sort li {
  position: relative;
}

.submenu-sort li:hover>a {
  background-color: white;
  color: #2c71b8;
}

.menu-sort .arrow {
  background-image: url(images/down-arrow-white.png);
  position: relative;
  top: 0;
  left: 100px;
}

.menu-sort a:hover .arrow {
  background-image: url(images/down_arrow_blue.png);
}

.menu-sort a:hover {
  background-color: white;
  color: #2c71b8;
}

/* ___________________________Card-Product________________ */

[class*="card-"] {
  margin-top: 30px;
  font-family: "Roboto";
  border: 1px solid white;
}

[class*="prod-pic"] {
  background-color: #cadbed;
  width: 270px;
  height: 180px;
  background-repeat: no-repeat;
  background-position: center;
}

.prod-card h2 {
  margin-bottom: 20px;
  color: white;
  text-align: left;
  font-size: 32px;
  font-weight: 500;
}

.prod-description {
  padding: 15px;
}

.prod-card p {
  margin-bottom: 15px;
  color: white;
  text-align: left;
  font-size: 20px;
  font-weight: lighter;
  line-height: 1.3em;
}

.prod-card span {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 21px;
  color: white;
}

.price p {
  font-weight: bold;
  font-size: 48px;
  text-align: center;
}

.price span {
  vertical-align: super;
}

.prod-card button {
  background-color: #2c71b8;
  text-decoration: none;
  border: 1px solid white;
  width: 210px;
  height: 50px;
  outline: none;
  line-height: 50px;
  margin: 0 auto;
  display: block;
  margin-bottom: 15px;
}

.prod-card button:hover {
  background-color: #fff;
  cursor: pointer;
  border: 1px solid #20558B;
}

.prod-card button:hover span {
  color: #20558B;
}

.prod-card button>span {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 21px;
  color: white;
}

/* ___________add-to-card-button____________ */

.add-to-card-button {
  background-color: #568dc6;
  text-decoration: none;
  border: 1px solid white;
  width: 210px;
  height: 50px;
  outline: none;
  line-height: 50px;
  margin: 0 auto;
  display: block;
  margin-bottom: 15px;
  /* float: left; */
  text-align: center;
}

.add-to-card-button a {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 21px;
  color: white;
}

.card-button-image {
  display: inline-block;
  background-image: url(images/cart-white.png);
  /* background-size: 20px; */
  width: 20px;
  height: 20px;
  border: none;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0 0 0 10px;
}

.add-to-card-button:hover {
  background-color: #fff;
  cursor: pointer;
  border: 1px solid #20558B;

}

.add-to-card-button:hover a {
  color: #2c71b8;
}

.add-to-card-button:hover .card-button-image {
  background-image: url(images/cart-blue.png);
}

/* _____________card-backgraund-small-image____________ */




.prod-pic1 {
  background-image: url(images/prod1.png);
  padding: 10px;
}
.prod-pic2, .prod-pic3 {
  margin: 0px 0px 10px auto;
  display: block;
  width: 30px;
  height: 30px;
  border: 1px solid #2c71b8;
}

.prod-pic2 {
  background-image: url(images/square-blue.png);
}

.prod-pic3 {
  background-image: url(images/heart-blue.png);
}

.prod-pic2:hover {
  background-image: url(images/square-white.png);
  background-color: #2c71b8;
}

.prod-pic3:hover {
  background-image: url(images/heart-white.png);
  background-color: #2c71b8;
}